
.titulo{
    color:bisque;
    font-family: 'Montserrat', sans-serif;

}

h4{
    background-color: black;
    color:#f7b7b6;
}

p{
    background-color: #5C5247;
    color:#EBEFBF;
    
}

.myButton {
	box-shadow: 0px 1px 0px 0px #1c1b18;
	background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	background-color:#eae0c2;
	border-radius:15px;
	border:2px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:#505739;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:9px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	background-color:#ccc2a6;
}
.myButton:active {
	position:relative;
	top:1px;
}
img{
    width: 250px;
    height: 250px;
	object-fit: cover;
}

#imagen2{
	width: 500px;
	height: 300px;
margin-top: 20%;
display: inline-block;
}
.formulario{
    background-color: #EBEFBF;
}
#p1{ color: black;
    font-size:large;
    border: 3px solid #41393F;
	
}
#p2{
    color:black;
    font-size: large;
    border:5px solid white;
    border-radius: 52% 48% 53% 47% / 97% 72% 28% 3%;
	
}

.paginas nav{
	display:flex;
	font-family: 'Courier New', Courier, monospace;
	text-decoration:overline   
}
main{
	background-color: #706C61;
}